:root{
    --fondcolor:#121212;
    --cardcolor:#1e1e1e;
    --cardhover:#2a2a2a;
    --linkcolor:#b8925e;
    --clickcolor:#99641f;
    --textcolor:#b0a89a;
}
*{
    margin:0px;
    padding:0px;
}
body{
    /*margin-top:100px;*/
    background-color: var(--fondcolor);
    color:var(--textcolor);
    font-size:1.3rem;
    font-weight:50;
    font-family: serif;
    box-sizing: border-box;

    /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
}
/*HEADER*/
header{
    border-bottom: 0.5px solid var(--textcolor);
    top:0;
    left:0;
    right:0;
    position:fixed;
    height:70px;
    background-color:var(--fondcolor);
    z-index:100;

    display:flex;
    align-items: center;
}
.entete{ 
    width:90%;
    max-width: 1200px;
    margin:auto;

    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.2rem;
}
nav ul{
    display:flex;
    gap:15px;
}
nav ul li{
    list-style-type: none;
}
nav a{
    text-decoration:none;
    color:var(--textcolor);
}
.axe:hover{
    color:var(--linkcolor);
    transition: 0.5s;
}
.btn{
    color:black;
    background-color: var(--linkcolor);
    padding:10px;
    border-radius:20px;
}
.btn:hover{
    background-color:var(--clickcolor);
}
#menu-toggle{
    display:none;
}
.hamburgeur{
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap:5px;
}
.hamburgeur span{
    display:block;
    background-color: var(--linkcolor);
    height: 2px;
    width:30px;
}
.logo{
    font-size:1.5rem;
    color:var(--linkcolor);
}
/*MAIN*/
main, footer p{
    width:90%;
    max-width: 1200px;
    margin:auto;

}
section{
    margin:50px 0px 50px 0px;
}
/*ACCUEIL*/
#accueil{
    min-height:100vh;
    display:flex;
    align-items:center;

    gap:50px;
}
.intro{
    width:50%;
    display:flex;
    flex-direction:column;

    gap:20px;
}
.intro h3{
    font-size:1.2rem;
    color:var(--linkcolor);
}
.intro h1 span{
    color:var(--linkcolor);
}
.avant{
    margin-bottom: 30px;
}
.intro a{
    color:black;
    padding:10px 20px 10px 20px;
    background-color: var(--linkcolor);
    text-decoration: none;
    border-radius:20px;
}
.intro a:hover{
    background-color:var(--clickcolor);
}
.image{
    display:flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 300px;
    overflow: hidden;
    border:5px solid var(--linkcolor);
    border-radius: 50%;

}
.mon-image{
    object-fit: cover;
    transform: translate(0px,120px);
}
/*A PROPOS*/
#apropos,#parcours,#competences,#projets,#contact{
    background-color: var(--cardcolor);
    border-radius:20px;
    padding:35px;
    display:flex;
    flex-direction: column;
    gap:15px;
    /*border: 0.1px solid var(--textcolor);*/
}
.titre{
    padding-left:10px;
    border-left:5px solid var(--linkcolor);
    color:white;
    margin-bottom: 10px;
}
.one{
    color:var(--linkcolor);
}
.two{
    color:white;
}
#apropos div{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
#apropos div p{
    background-color: var(--fondcolor);
    padding:10px;
    border-radius:20px;
}
/*PARCOURS*/
#parcours div p{
    min-height: 60px;
    padding-top:10px;
}
.fin{
    border-bottom: 1px solid var(--textcolor);
}
/*COMPETENCES*/
#competences .grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    overflow: hidden;

    gap:10px;
}
#competences .card{
    background-color: var(--fondcolor);
    border-radius:10px;
    min-height: 120px;
    padding:10px;
    text-align:center;
}
#competences .card:hover, .elem:hover{
    background-color: var(--cardhover);
    border: 1px solid var(--linkcolor);
}
#competences .card h4{
   font-size:1rem;
   margin-top:10px;
}
#competences .card p{
    font-size:0.9rem;
    margin-top: 20px;
}
.svg-competences, .mon-svg{
    color:var(--linkcolor);
}
/*PROJETS*/
/*.carousel{
    display:flex;
    align-items: center;
}*/
.ligne{
    display:flex;
    gap:20px;
    overflow:auto;
    scroll-behavior: smooth;
    /*scrollbar-width: none; POUR NE PAS MARQUER LA LARGEUR DU SCROOL*/
}
.elem{
    min-width:300px;
    height:150px;
    background-color:var(--fondcolor);
    border-radius:10px;
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.description{
    height: 100px;
}
.long{
    width: 200px;
    background-color: var(--linkcolor);
    text-align:center;
    border-radius: 20px;
}
.last{
    color:black;
    padding:5px 10px 5px 10px;
    text-decoration:none;
}
footer{
    height:70px;
    border-top:1px solid var(--textcolor);
    display:flex;
    align-items: center;
    justify-content: center;
}
footer p{
    text-align: center;
}
.prise-contact{
    display:flex;
    align-items:center;
    gap:10px;
}
form{
    flex:1;
}
.mes-liens{
    flex:1;
    display:flex;
    flex-direction: column;

    gap:30px;
}
.info{
    /*min-width:300px;*/
    min-height: 40px;
    width:90%;
    padding:10px;
    margin:10px 0px;
    color:var(--textcolor);
    background-color: var(--fondcolor);
    outline:none;
    border:none;
}
.info:focus{
    border:1px solid var(--linkcolor);
}
.btn2{
    width:100px;
    height:40px;
    color:black;
    background-color: var(--linkcolor);
    outline:none;
    border:none;
    border-radius: 5px;
    padding:5px 10px;
    text-align:center;
    margin-right:10px;
}
.btn2:hover{
    background-color:var(--clickcolor);
}
.mon-svg{
   margin-right: 10px;
   padding-top:5px;
}
.lien a{
    background-color: var(--fondcolor);
    padding:15px 10px;
    border-radius:20px;
    text-decoration: center;
    text-decoration: none;
    color:var(--textcolor);
}
.lien a:hover{
    background-color: var(--cardhover);
    border:1px solid var(--linkcolor);
}
@media(max-width:768px){
    body{
        font-size: 1.2rem;
    }
    header{
        height:50px;
    }
    .hamburgeur{
        display:flex;
    }
    nav ul{
       display:none;
       position:fixed;
       width:100%;
       flex-direction: column;
       top: 50px;
       padding:10px;
       transition:0.3s;
       background-color: var(--fondcolor);
       z-index:1000;
       border-bottom:1px solid var(--textcolor);
       border-top:1px solid var(--textcolor);
    }
    .btn{
        color:var(--textcolor);
        background-color: var(--fondcolor);
        padding:0px;
    }
    #menu-toggle:checked~nav ul{
        display:flex;
        left:0;
    }
    nav li{
        border-bottom: var(--textcolor);
    }
    #accueil{
        flex-direction: column-reverse;
        text-align: center;
        justify-content:center;
        align-items: center;
        min-height:100vh;
        gap:20px;
    }
    .avant{
    margin-bottom: 20px;
    }
    .image{
        width:160px;
        height:160px;
    }
    .mon-image{
        transform: translate(0px,185px);
    }
    .prise-contact{
        flex-direction:column;
        gap:10px;
    }
    /*A PROPOS*/
    #apropos,#parcours,#competences,#projets,#contact{
        background-color: var(--cardcolor);
        border-radius:20px;
        padding:20px;
        display:flex;
        flex-direction: column;
        gap:7px;
        /*border: 0.1px solid var(--textcolor);*/
    }
    #contact h2{
        display:none;
    }
    .mes-liens{
        margin:20px 0px;
    }
    /*FORMULAIRE*/
    .chat{
        display:none;
    }

}